.logo {
	float: left;
	display: inline-flex;
	align-items: center;

	&__img {
		height: 80px;
		width: auto;
		margin-right: 10px;
	}
}

.logo-title {
	line-height: 1;
	font-size: 1.6rem;
}