@import "../../../styles/variables/colors.scss";

.main-navbar {
	height: 100px;
	background-color: $c-primary;
	color: $white;
	display: flex;
	align-items: center;
}

.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.menu {
	float: right;
	font-size: 0.8rem;

	.menu-item {
		color: #FFF;
		text-transform: uppercase;
		border-left: solid 1px $white;
		border-right: solid 1px $white;
		padding: 0 15px;
		display: inline-block;
		position: relative;
		cursor: pointer;

		&:first-child {
			border: none;
		}

		&:last-child {
			border: none;
		}

		&.active {
			background-color: darken($c-primary, 10%);
		}
	}
}
