.authors-list {
  background-color: #fff;
  border-radius: 5px;
  margin: 0;
  padding: 5px 10px;
  width: 200px;
  border: 1px solid #ccc;
  height: 120px;
  overflow-y: scroll;

  ul {
    padding: 0;
    list-style: none;
    margin: 0;

    label {
      margin: 0;
      display: flex;
      width: 100%;
      justify-content: space-between;
      white-space: nowrap;
      align-items: center;
      height: 25px;
    }
  }
}

:host.ng-invalid.ng-touched > .authors-list {
  border: 1px solid #a94442;
}